{% extends 'layout.html.twig' %}
{% block content %}
{% include 'Home/modal.html.twig' %}

    <h1>Hello Wilder !</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="egg-count col-3 offset-10">
                <img src="../assets/images/yoshi_egg.png" alt="egg"/>
                <div id="clickme">Eggs : 0</div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% include 'eggCount.js' %}
{% endblock%}
