{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <div class="egg-count">
        <img src="../assets/images/yoshi_egg.png" alt="egg"/>
        <p>{{ eggCount }}</p>
    </div>
{% endblock %}
