{% extends 'layout.html.twig' %}

{% block content %}
    <section>
        <div class="jumbotron jumbotron-fluid align-items-center">
            <div class="container-fluid ">
                <h1 class="h1 jumbotron-title text-center">Nick's Big'ol Farm</h1>
                <p class="jumbotron-text text-center">Come discover the real farm life</p>
                <div class="text-center arrow-down">
                    <a href="#form"><img src="/assets/images/arrow-down.png" class="" alt="descendre"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="container fluid text-center" id="form" >
        <h2>Come spend easter's week-end with us</h2>
        <form action="index.php" method="POST" novalidate>
            <div class="form-group">
                <label for="lastName">Lastname</label>
                <input class="form-control" type="text" name="lastName" id="lastName" required>
            </div>

            <div class="form-group">
                <label for="firstName">Firstname</label>
                <input class="form-control" type="text" name="firstName" id="firstName" required>
            </div>
            <button class="btn btn-success"> Reservation request</button>
        </form>
    </section>

{% endblock %}

