{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Welcome to the big ol' farm</h1>
    <h2>Come spend easter's week-end with us</h2>
    <section class='form' id='form'>
    <form action="index.php" method="POST" novalidate>
            <div class="form-group">
                <label for="lastName">Lastname</label>
                <input class="form-control" type="text" name="lastName" id="lastName" required value="<?php
                if (!empty($errors)) {
                    echo($data['lastName']);
                }
                ?>">
                <div class="text-danger"><?= $errors['lastName'] ?? '' ?></div><!--message d'erreur-->
            </div>
            <div class="form-group">
                <label for="firstName">Firstname</label>
                <input class="form-control" type="text" name="firstName" id="firstName" required value="<?php
                if (!empty($errors)) {
                    echo($data['firstName']);
                }
                ?>">
                <div class="text-danger"><?= $errors['firstName'] ?? '' ?></div><!--message d'erreur-->
            </div>

            <?php foreach ($civilities as $civility): ?>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="civility" id="civility<?= $civility['id'] ?>"
                           required value="civility<?= $civility['id'] ?>">
                    <label class="form-check-label" for="civility<?= $civility['id'] ?>">
                        <?= $civility['civility'] ?>
                    </label>
                </div>
            <?php endforeach; ?>

            <div class="text-danger"><?php if (isset($errors['civility'])): echo $errors['civility']; endif; ?>
            </div>

            <button class="btn btn-success"> Reservation request </button>

        </form>

       </section>

    </div>
{% endblock %}
