/*

HTML:

<link rel="stylesheet" href="../../assets/css/frodo.css">

<div id="frodo2"><img src="/../../assets/images/Frodo2.png" id="frodo" alt="g"></div>


 */


@keyframes mymove {
    from {bottom: -1000px;}
    to {bottom: 1000px;}
}


#frodo2 {
    position :relative;
    animation: mymove 5s forwards;
}
