.modal-title{
    text-align: center;
    font-size: 2em;
}

.modal-text{
    font-size: 1.5em;
}

.border-modal{
    border: solid 3px lightblue;
}

.yoshi_egg{
    width: 45px;
}

.cadre{
    position: absolute;
    box-sizing: content-box;
    width: 150px;
    border: solid #000;
    padding: 1px;
}

canvas{
	border: 1px solid black;
}
