.egg-count img{
    max-height : 55px;
    float: left;
    margin-right: 20px;
}

.egg-count {
    font-family: 'Just Another Hand', cursive;
    font-size : 45px;
}

/* MODAL SECTION */

.modal-title{
    text-align: center;
    font-size: 2em;
}

.modal-text{
    font-size: 1.5em;
}

.border-modal{
    border: solid 3px lightblue;
}

canvas{
	border: 1px solid black;
}
